<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
      <!-- Allow to download packages from nuget.org. -->
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
      <!-- Allow to download internal packages from our internal nuget feed -->
      <add key="nuget internal" value="http://TODO:_internal_nuget_server_hostname/api/v2" />
  </packageSources>
</configuration>
